*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0F0F0F;
  background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(20, 20, 20, 1) 50%, rgba(71, 69, 67, 1) 100%);
}

body::before{
  content: "";
  position: fixed;
  inset: 0;
  background: url("img/BANNER.png") center / cover no-repeat;
  opacity: .05;
  z-index: -1;
}

h3{
  font-family: "Just Sans", sans-serif;
  font-weight: 800;
  color: white;
}

header{
  background-color: rgb(15, 15, 15);
  padding: 30px;
}

.h1_sobre{
  font-family: "Just Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  color: white;
  padding: 30px;
}

.menu_principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipo img{
  width: 150px;
  margin-left: 30px;
}

.menu ul{
  display: flex;
  gap: 50px;
  list-style: none;
}

.menu ul li a{
  font-family: "Just Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: color .2s ease, transform .2s ease;
}

.menu ul li a:hover{
  color: #f0203f;
  transform: scale(1.1);
}

.sobre_nos{
  background-color: rgb(15, 15, 15);
}

.fotos_equipe{
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding: 50px;
}

.foto{
  width: 220px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

.foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blocos{
  display: flex;
  width: 450px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.blocos p{
  font-family: "Just Sans", sans-serif;
  font-weight: 400;
  color: white;
  width: 400px;
}

.logo_whatsapp{
  width: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.marcas_atendidas{
  padding: 10px 0 60px;
}

.carousel{
  overflow: hidden;
  width: 100%;
}

.track{
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.track img{
  width: 150px;
  height: 60px;
  object-fit: contain;
  margin: 0 40px;
  flex-shrink: 0;
}


.carousel:hover .track{
  animation-play-state: paused;
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}
